<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="WOOW Admin Test Suite">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory>includes/templates</directory>
        </exclude>
    </source>

    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
    </php>
</phpunit>
